
.headerContainer {
  background-color: #202124;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h1.headerTitle {
  color: #FFF;
  font-size: 48px;
}


