div.note {
  width: fit-content;
  border: 1px solid #FFF;
  border-radius: 16px;
  margin: 16px;
}
  
div.note:hover, div.note:hover .noteArea {
  background-color: #525356;
  transition: 0.3s;
}
  
textarea.noteArea {
  background-color: #202124;
  color: #FFF;
  resize: none;
  border: none;
  border-radius: 16px;
  padding: 10px;
  width: 250px;
  height: 200px;
  outline: none;
}

.noteArea:focus, .note:has(.noteArea:focus) {
  background-color: #525356;
} 
  
.noteButtonContainer {
  width: fit-content;
  border-radius: 16px;
  margin: 5px;
}

div.pin-false {
  order: 2;
}
div.pin-true {
  order: 1;
  transition: 0.5s;
}